<!doctype html>

<html>
  <head>
    <!-- bower_components -->
    <!-- When in prod use minified version -->
    <script src='/bower_components/angular/angular.js'></script>

    <script src='/assets/js/app/demo.module.js'></script>
  </head>

  <body ng-app='demo'>
    <h1>Landing Page</h1>
    <div ng-controller='SampleCtrl'>
      <label>Search:</label>
      <input ng-model='search' placeholder='Search' autofocus>
      <label>Sort:
        <select ng-model='order'>
          <option value='firstName'>First Name</option>
          <option value='lastName'>Last Name</option>
        </select>
      </label>
      <label>
        <input type='radio' ng-model='direction' checked> Ascending
        <input type='radio' ng-model='direction' value='reverse'> Descending
      <ul>
        <li ng-repeat='person in data | filter: search | orderBy: order:direction'>
          <span>{{person.firstName}}</span>
          <span>{{person.lastName | uppercase}}</span>
        </li>
      </ul>
      <p>{{data.firstName}}</p>
    </div>
  </body>
</html>