<!doctype html>

<html>
  <head>
    <!-- bower_components -->
    <!-- When in prod use minified version -->
    <script src='/bower_components/angular/angular.js'></script>

    <script src='/assets/js/index.js'></script>
  </head>

  <body>
    <h1>Landing Page</h1>
    <div ng-app='journal'>
    </div>
  </body>
</html>